<div class="b-cover-standard b-standard-cover-small" data-cover-image="<%= design.cover_image %>" title="<%= "\"#{title}\" by #{author_name}" %>">
  <div class="b-standard-cover-small-text-container">
    <div class="b-standard-cover-author" data-font="special_elite">
      <%= author_name %>
    </div>
    <div class="b-small-cover-separator"></div>
    <div class="b-standard-cover-title" data-font="special_elite">
      <%= title %>
    </div>
  </div>
</div>
