<% admin_nav_crumbs admin_nav_books_link, "Search..." %>

<%= render "admin/books/search_form" %>

<div class="container mt-4">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>TITLE</th>
      <th>AUTHOR</th>
      <th>LINKS</th>
      <th>YEAR</th>
      <th>WIKI VIEWS</th>
      <th>CREATED</th>
      <th>UPDATED</th>
    </thead>
    <%= render partial: "admin/books/books_index_row", collection: @books, as: :book %>
  </table>
</div>

