<% content_for :title,
  safe_join([admin_nav_authors_link, admin_nav_author_link(@author), "Add book"], " > ")
  %>

<div class="container mt-4">
  <%= render "admin/books/form", book: @book, old_book: @book, form_handler: @form %>
</div>
