<% admin_nav_crumbs admin_nav_authors_link, admin_nav_author_link(@author), "Parse List" %>

<div class="container mt-4">
  <%= form_tag admin_author_list_parsing_path(@author), method: :post do %>
    <div class="row">
      <div class="col-12">
        <%= text_area_tag :text, nil, class: "form-control", placeholder: "Enter the list of books" %>
      </div>
      <div class="col-12">
        <%= submit_tag "Parse", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
