<% admin_nav_crumbs "Cover Previews" %>

<div class="container mt-4">
  <div class="row">
    <% StandardCover::VARIANTS.each do |cover_type| %>
      <div class="col-md-2">
        <div class="b-cover-standard b-cover-<%= cover_type %>">
          <div class="b-standard-cover-title">
            <%= "Cover \"#{cover_type}\"" %>
          </div>
          <span class="b-standard-cover-author align-bottom">
            <%= "Author" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
