<% admin_nav_crumbs admin_nav_books_link, "Batch Edit" %>

<% if @author.present? %>
  <div class="container mt-4">
    <% if @author.reference.present? %>
      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Author's Wiki:</div>
        <div class="col-md-9"><%= external_link_to "WIKI", @author.reference %></div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render 'admin/books/batch_edit', books: @books %>
