<% content_for :title,
  safe_join([authors_link, author_link(@author), "Edit"], " > ")
  %>

<%= render "form", author: @author %>

<br>

<div>
  <%= link_to "Show this author", @author %> |
  <%= link_to "Back to authors", admin_authors_path %>
</div>
