<% admin_nav_crumbs admin_nav_authors_link, "Search..." %>

<%= render "admin/authors/search_form" %>

<div class="container mt-4">
  <table id="admin_authors" class="table">
    <thead>
      <th>ID</th>
      <th>NAME</th>
      <th>LINKS</th>
      <th>YEARS</th>
      <th>BOOKS #</th>
      <th>CREATED</th>
      <th>UPDATED</th>
    </thead>
    <%= render partial: "admin/authors/authors_index_row", collection: @authors, as: :author %>
  </table>
</div>
