@import 'bootstrap/scss/bootstrap';
@import 'admin/author';
@import 'admin/book-form';
@import 'admin/books';
@import 'admin/books-batch-form';
@import 'fonts';

a[href^=http] {
  color: $orange-600;
}

.display-link {
  color: $green-600;

  &:hover {
    color: $green-700;
  }
}
