.b-cover-custom {
  margin: 5px;
  border-radius: 3px;
}

.b-cover-standard {
  width: 160px;
  height: 240px;
  color: white;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .b-standard-cover-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    max-width: 140px;
    word-wrap: break-word;
    line-height: 1.2;
    font-family: PlayfairDisplay, sans-serif;
    padding: 10px 0;
    min-height: 190px;
    align-content: center;
  }

  .b-standard-cover-author {
    text-align: center;
    font-family: LibreBaskerville, sans-serif;
    font-size: 10px;
    max-width: 140px;
    word-wrap: break-word;
    line-height: 1.1;
    text-transform: uppercase;
  }

  &.b-standard-cover-small {
    padding: 45px 10px;
  }

  .b-standard-cover-small-text-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    width: 100%;
    word-wrap: break-word;

    .b-standard-cover-author,
    .b-standard-cover-title {
      align-content: normal;
      color: black;
      font-size: 12px;
      font-style: italic;
      min-height: auto;
      text-shadow: none;
    }

    .b-small-cover-separator {
      height: 0;
      width: 40px;
      border-bottom: 1px solid #ccc;
      margin: 6px auto 0;
    }
  }

  @mixin b-cover-image($image) {
    background-image: image-url('covers/#{$image}.jpg');
  }

  &[data-cover-image='default'] {
    background-image: none;
    background-color: white;
    border: 1px solid #ddd;
  }

  &[data-cover-image='blue_red_marks'] {
    @include b-cover-image('blue_red_marks_400');
    background-color: rgba(1, 1, 1, 0.1);
    background-blend-mode: darken;
  }

  &[data-cover-image='blurry_glass'] {
    @include b-cover-image('blurry_glass_400');
  }

  &[data-cover-image='brown_skin'] {
    @include b-cover-image('brown_skin_400');
  }

  &[data-cover-image='brown_wave'] {
    @include b-cover-image('brown_wave');
  }

  &[data-cover-image='chalk_board'] {
    @include b-cover-image('chalk_board_400');
  }

  &[data-cover-image='dark_red'] {
    @include b-cover-image('dark_red');
  }

  &[data-cover-image='dark_room'] {
    @include b-cover-image('dark_room_400');
  }

  &[data-cover-image='fire'] {
    @include b-cover-image('fire_400');
    background-color: rgba(1, 1, 1, 0.1);
    background-blend-mode: darken;
  }

  &[data-cover-image='gray_marks'] {
    @include b-cover-image('gray_marks');
  }

  &[data-cover-image='hard_blue_texture'] {
    @include b-cover-image('hard_blue_texture_400');
  }

  &[data-cover-image='light_beam'] {
    @include b-cover-image('light_beam_400');
  }

  &[data-cover-image='modern'] {
    @include b-cover-image('modern_400');
  }

  &[data-cover-image='paper_pieces'] {
    @include b-cover-image('paper_pieces_400');
    background-color: rgba(1, 1, 1, 0.1);
    background-blend-mode: darken;
  }

  &[data-cover-image='parchment'] {
    @include b-cover-image('parchment_400');
  }

  &[data-cover-image='red_scratches'] {
    @include b-cover-image('red_scratches');
  }

  &[data-cover-image='steps'] {
    @include b-cover-image('steps_400');
  }

  &[data-cover-image='wall_windows'] {
    @include b-cover-image('wall_windows_400');
    background-color: rgba(1, 1, 1, 0.5);
    background-blend-mode: darken;
  }

  &[data-cover-image='water_rocks'] {
    @include b-cover-image('water_rocks_400');
    background-color: rgba(1, 1, 1, 0.3);
    background-blend-mode: darken;
  }

  &[data-cover-image='wood_plank'] {
    @include b-cover-image('wood_plank');
  }

  &[data-cover-image='yellow_vector'] {
    @include b-cover-image('yellow_vector_400');
  }

  [data-text-color='black'] {
    color: black;
    text-shadow: 1px 1px 3px white;
  }

  [data-text-color='white'] {
    color: white;
    text-shadow: 1px 1px 3px black;
  }

  [data-text-color='antiquewhite'] {
    color: antiquewhite;
    text-shadow: 1px 1px 3px black;
  }

  [data-font='montserrat'] {
    font-family: Montserrat, sans-serif;
  }

  [data-font='bebas_neue'] {
    font-family: BebasNeue, sans-serif;
  }

  [data-font='playfair_display'] {
    font-family: PlayfairDisplay, sans-serif;
  }

  [data-font='libre_baskerville'] {
    font-family: LibreBaskerville, sans-serif;
  }

  [data-font='amarante'] {
    font-family: Amarante, sans-serif;
  }

  [data-font='cinzel'] {
    font-family: Cinzel, sans-serif;
  }

  [data-font='iceberg'] {
    font-family: Iceberg, sans-serif;
  }

  [data-font='special_elite'] {
    font-family: SpecialElite, sans-serif;
  }
}
