.b-cover-custom {
  margin: 5px;
  border-radius: 3px;
}

.b-cover-standard {
  width: 160px;
  height: 240px;
  color: white;
  border-radius: 3px;
  margin: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .b-standard-cover-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    max-width: 140px;
    word-wrap: break-word;
    line-height: 1.2;
    font-family: PlayfairDisplay;
    padding: 10px 0;
    min-height: 190px;
    align-content: center;
  }

  .b-standard-cover-author {
    text-align: center;
    font-family: LibreBaskerville;
    font-size: 10px;
    max-width: 140px;
    word-wrap: break-word;
    line-height: 1.1;
    text-transform: uppercase;
  }

  &.b-cover-a {
    background-image: image-url('book_cover_standard_a.jpg');
  }

  &.b-cover-b {
    background-image: image-url('book_cover_standard_b.jpg');

    .b-standard-cover-title {
      font-family: BebasNeue;
      font-weight: 500;
    }

    .b-standard-cover-author {
      font-family: Montserrat;
    }
  }

  &.b-cover-c {
    background-image: image-url('book_cover_standard_c.jpg');

    .b-standard-cover-title {
      font-family: Montserrat;
    }

    .b-standard-cover-author {
      font-family: Montserrat;
    }
  }

  &.b-cover-d {
    background-image: image-url('book_cover_standard_d.jpg');
  }

  &.b-cover-e {
    background-image: image-url('book_cover_standard_e.jpg');
  }

  &.b-cover-f {
    background-image: image-url('book_cover_standard_f.jpg');
  }

  @mixin b-cover-image($image) {
    background-image: image-url('covers/#{$image}.jpg');
  }

  &.b-cover-default {
    @include b-cover-image('white');
    border: 1px solid #ddd;
  }

  &.b-cover-red_scratches {
    @include b-cover-image('red_scratches');
  }

  &.b-cover-brown_skin {
    @include b-cover-image('brown_skin');
  }

  &.b-cover-brown_wave {
    @include b-cover-image('brown_wave');
  }

  &.b-cover-gray_marks {
    @include b-cover-image('gray_marks');
  }

  &.b-cover-dark_red {
    @include b-cover-image('dark_red');
  }

  &.b-cover-wood_plank {
    @include b-cover-image('wood_plank');
  }

  &.b-cover-water_rocks {
    @include b-cover-image('water_rocks');
  }

  &.b-cover-modern {
    @include b-cover-image('modern');
  }

  &.b-cover-fire {
    @include b-cover-image('fire');
  }

  &.b-cover-chalk_board {
    @include b-cover-image('chalk_board');
  }

  &.b-cover-hard_blue_texture {
    @include b-cover-image('hard_blue_texture');
  }

  &.b-cover-blurry_glass {
    @include b-cover-image('blurry_glass');
  }

  &.b-cover-parchment {
    @include b-cover-image('parchment');
  }

  .b-text-color-black {
    color: black;
    text-shadow: 1px 1px 3px white;
  }

  .b-text-color-white {
    color: white;
    text-shadow: 1px 1px 3px black;
  }

  .b-text-color-firebrick {
    color: firebrick;
    text-shadow: 1px 1px 5px black;
  }

  .b-text-color-antiquewhite {
    color: antiquewhite;
    text-shadow: 1px 1px 3px black;
  }

  .b-font-montserrat {
    font-family: Montserrat;
  }

  .b-font-bebas_neue {
    font-family: BebasNeue;
  }

  .b-font-playfair_display {
    font-family: PlayfairDisplay;
  }

  .b-font-libre_baskerville {
    font-family: LibreBaskerville;
  }

  .b-font-amarante {
    font-family: Amarante;
  }

  .b-font-cinzel {
    font-family: Cinzel;
  }

  .b-font-iceberg {
    font-family: Iceberg;
  }

  .b-font-special_elite {
    font-family: SpecialElite;
  }
}
